version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: devmatch
    ports:
      - '5435:5432'
    volumes:
      - devmatch_postgres_data:/var/lib/postgresql/data

volumes:
  devmatch_postgres_data:
